@font-face {
    font-family:"Archivo";
    src: url("../fonts/Archivo-Regular.ttf")format("truetype");
}
@font-face {
    font-family:"Archivo Medium";
    src: url("../fonts/Archivo-Medium.ttf")format("truetype");
}
@font-face {
    font-family:"Archivo Bold";
    src: url("../fonts/Archivo-Bold.ttf")format("truetype");
}
@font-face {
    font-family:"Archivo Semibold";
    src: url("../fonts/Archivo-SemiBold.ttf")format("truetype");
}