@media screen and (max-width:1400px) {}

@media screen and (max-width:1200px) {}

@media screen and (max-width:992px) {}
@media screen and (min-width:768px) {
.menu-mobile{
    display: none;
}
}
@media screen and (max-width:768px) {
    .header-menu{
        display: none;
    }
    .header-menu--mobile{
        display: flex;
        flex-direction: column;
        background-color:#04ddb2;
        position: fixed;
        top:9%;
        padding:1rem 2rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    /* .footer-wrapper{
        flex-wrap: wrap;
    } */
}

@media screen and (max-width:576px) {
    .lobe-tour__text{
        font-size: 1.6rem;
        margin:auto;
    }
    .title{
        font-size: 2rem;
    }
}